<div data-dojo-attach-point="containerNode" style="display: none; border: 1px solid rgb(61,124,138); position: absolute; width: 208px;
		height: 235px;  background-color: black; color:white; text-align: left; font-size:11px; padding:3px; z-index: 99">
		
	<strong> Game Description: </strong>
	<div data-dojo-attach-point="descriptionLabel" style=" height: 50px"> hello </div>
		
	<div style="background-color: rgb(32,38,46); height: 20px; line-height: 20px; margin-bottom: 5px">
		&nbsp
		<strong style="float:left; margin-left : 10px"> Player </strong>
		<strong style="float:right; margin-right : 10px"> Rating </strong>
	</div>
	
</div>