<div data-dojo-attach-point="containerNode" style="display: inline-block; position: relative;
	width: 155px; margin: 5px; color: white; font-family: Tahoma; font-size:10.5px;">
	
	<img src='/widget/images/lobby/table.png'/>
	<img data-dojo-attach-point="mainButton" src='/widget/images/lobby/main_button.png' style="position: absolute; top: 65px; left: 39px"/>
	<img data-dojo-attach-point="infoButton" src='/widget/images/lobby/info_button.png' style="display:none; position: absolute; top: 73px; left: 108px"/>
	<span data-dojo-attach-point="gameNumberLabel" style="position: absolute; top: 2px; left: 5px; "></span>
	<span data-dojo-attach-point="titleLabel" style="position: absolute; top: 16px; left: 5px; "></span>
	<span data-dojo-attach-point="popLabel" style="position: absolute; top: 2px; left: 133px"> 0/8</span>
	<span data-dojo-attach-point="userInteractionLabel" style="position: absolute; top: 79px; left: 41px; pointer-events:none; width: 64px; "> Host </span>
	<span data-dojo-attach-point="infoLabel" style="display: none; position: absolute; top: 79px; left: 118px; pointer-events:none;"> Info </span>
</div>

