<div data-dojo-attach-point="containerNode" style="display:inline-block; position: relative; font-size: 11px">
	<div data-dojo-attach-point="whiteName" style="height:23px; width: 113px; position: absolute; top: 0px; left: 0px; line-height: 23px; color: white; font-weight: bold"></div>
	<div data-dojo-attach-point="blackName" style="height:23px; width: 113px; position: absolute; top: 0px; left: 116px; line-height: 23px; color: black; font-weight: bold"></div>
	<div data-dojo-attach-point="whiteRating" style="height:23px; width: 60px; position: absolute; top: 26px; left: 25px; line-height: 23px; color: #999900; font-weight: bold"></div>
	<div data-dojo-attach-point="blackRating" style="height:23px; width: 60px; position: absolute; top: 26px; left: 143px; line-height: 23px; color: #999900; font-weight: bold"></div>
	
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 1px;">
		<span class="hideable" data-dojo-attach-point="blackPawnsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px">  </span>
		<div class="hideable" data-dojo-attach-point="blackPawnsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px"> I </div>
	</div>
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 23px">
		<span class="hideable"data-dojo-attach-point="blackKnightsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px"> </span>
		<div class="hideable"data-dojo-attach-point="blackKnightsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px"> K </div>
	</div>
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 46px;">
		<span class="hideable"data-dojo-attach-point="blackBishopsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px">  </span>
		<div class="hideable"data-dojo-attach-point="blackBishopsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">J</div>
	</div>
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 70px;">
		<span class="hideable"data-dojo-attach-point="blackRooksNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px">  </span>
		<div class="hideable"data-dojo-attach-point="blackRooksLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">L</div>
	</div>
	<div class="hideable"data-dojo-attach-point="blackQueenLabel" style="position: absolute; height:24px; width: 21px; top: 52px; left: 93px;  font-family: chessAlpha; font-size: 25px">M</div>
	
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 116px;">
		<span class="hideable" data-dojo-attach-point="whitePawnsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px">  </span>
		<div class="hideable" data-dojo-attach-point="whitePawnsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">i</div>
	</div>
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 139px;">
		<span class="hideable" data-dojo-attach-point="whiteKnightsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px">  </span>
		<div class="hideable" data-dojo-attach-point="whiteKnightsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">k</div>
	</div>
	<div data-dojo-attach-point="whiteBishops" style="position: absolute; height:24px; width: 21px; top: 52px; left: 161px;  font-family: chessAlpha; font-size: 25px">
		<span class="hideable" data-dojo-attach-point="whiteBishopsNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px"> </span>
		<div class="hideable" data-dojo-attach-point="whiteBishopsLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">j</div>
	</div>
	<div style="position: absolute; height:24px; width: 21px; top: 52px; left: 184px;">
		<span class="hideable" data-dojo-attach-point="whiteRooksNumber" style="position : absolute; background-color: #78c5ef; color:white; width: 8px; height: 10px; top: 16px; left: 13px; font-size:9px"> </span>
		<div class="hideable" data-dojo-attach-point="whiteRooksLabel" style="height:100%; width: 100%; font-family: chessAlpha; font-size: 25px">l</div>
	</div>
	<div class="hideable" data-dojo-attach-point="whiteQueenLabel" style="position: absolute; height:24px; width: 21px; top: 52px; left: 207px;  font-family: chessAlpha; font-size: 25px">m</div>
	
	<img src="/widget/images/room/scoreboard.png" ></img>
</div>