<div data-dojo-attach-point='containerNode' style='background: rgba(225, 225, 225, .5); 
			border: 1px solid black ;position:absolute; display: none'> 
	<table >
		<tr>
			<td><img data-dojo-attach-point="a" alt=':)' src='/widget/images/smilies/smile.gif'/></td>
			<td><img alt=':D' src='/widget/images/smilies/biggrin.gif'/></td>
			<td><img alt=':blink:' src='/widget/images/smilies/blink.gif'/></td>
			<td><img alt=':chinese:' src='/widget/images/smilies/chinese.gif'/></td>
			<td><img alt='8)' src='/widget/images/smilies/cool.gif'/></td>
		</tr>
		<tr>
			<td><img alt=':devil:' src='/widget/images/smilies/devil.gif'/></td>
			<td><img alt='<_<' src='/widget/images/smilies/dry.gif'/></td>
			<td><img alt=':flowers:' src='/widget/images/smilies/flowers.gif'/></td>
			<td><img alt='^_^' src='/widget/images/smilies/happy.gif'/></td>
			<td><img alt=':huh:' src='/widget/images/smilies/huh.gif'/></td>
		</tr>
		<tr>
			<td><img alt=':lol' src='/widget/images/smilies/laugh.gif'/></td>
			<td><img alt=':o:' src='/widget/images/smilies/ohmy.gif'/></td>
			<td><img alt=':ph34r:' src='/widget/images/smilies/ph34r.gif'/></td>
			<td><img alt=':angry:' src='/widget/images/smilies/mad.gif'/></td>
			<td><img alt=':(' src='/widget/images/smilies/sad.gif'/></td>
		</tr>
		<tr>
			<td><img alt=':santa:' src='/widget/images/smilies/santa.gif'/></td>
			<td><img alt=':sleeping:' src='/widget/images/smilies/sleeping.gif'/></td>
			<td><img alt=':teehee:' src='/widget/images/smilies/teehee.gif'/></td>
			<td><img alt=':thumbsup:' src='/widget/images/smilies/thumbsup.gif'/></td>
			<td><img alt=':p' src='/widget/images/smilies/tongue.gif'/></td>
		</tr>
		<tr>
			<td><img alt=':unsure:' src='/widget/images/smilies/unsure.gif'/></td>
			<td><img alt=':w00t:' src='/widget/images/smilies/w00t.gif'/></td>
			<td><img alt=';)' src='/widget/images/smilies/wink.gif'/></td>
			<td><img alt=':wub:' src='/widget/images/smilies/wub.gif'/></td>
			<td><img alt=':whistling:' src='/widget/images/smilies/whistling.gif'/></td>
		</tr>
	</table> 
</div>